.login-page {
  background: linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)),
    url('../../assets/images/moviewall.jpg');
  background-size: cover;
  background-position: center center;
  animation: fadeIn 0.25s ease-in-out;
  .content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
  }
  .form-container {
    padding: 2rem;
    width: 50%;
    height: 60%;
    display: flex;
    border-radius: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.55);

    .form-title {
      color: #fff;
      margin-bottom: 3rem;
      font-size: 3rem;
      animation: fadeIn 0.5s 0.25s backwards;
    }
    .input-group {
      margin-bottom: 0.3rem;
      input {
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
      }
    }
    .input-group:nth-child(1) {
      animation: fadeIn 0.5s 0.5s backwards;
    }
    .input-group:nth-child(2) {
      animation: fadeIn 0.5s 0.75s backwards;
    }
    button {
      margin-top: 2rem;
      color: #fff;
      background: #ed1d24;
      width: 100%;
      border-radius: 6px;
      transition: 0.24s ease-in-out;
      animation: fadeIn 0.5s 1s backwards;
      &:hover {
        background: white;
        color: #ed1d24;
      }
    }
  }
}
