nav {
  width: 100%;
  //background: #ed1d24;
  height: 4.5rem;
  position: absolute;
  z-index: 10;
  ul {
    padding: 1rem 2rem;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    height: 100%;
    li {
      transition: 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 1.4rem;
    }
  }
}

.login {
  background: #ed1d24;
  padding: 0.3rem 1rem;
  border-radius: 6px;
}

.user {
  margin-right: auto;
  color: #ccc;
}

.active {
  transition: 0.25s ease-in-out;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ed1d24;
    height: 3px;
    width: 100%;
  }
}
