nav {
  width: 100%;
  background: #ed1d24;
  height: 4.5rem;
  ul {
    padding: 1rem 2rem;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    height: 100%;
    a {
      color: white;
      text-decoration: none;
      font-size: 1.4rem;
    }
  }
}

.active {
  transition: 0.25s ease-in-out;
  background: white;
  color: #ed1d24;
  padding: 0.3rem 0.6rem;
  text-align: center;
  border-radius: 10px;
}
